
<h1 style="color:white;background-color:#999999">Circulation Draw</h1>
<p style="color:blue;text-align:right;font-size:110%;font-family:arial "><strong><%= link_to 'Insert Calendar', inserts_path %></strong></p>

<hr size="1" color="lightcoral"/>
<%= render 'form' %>

<%= link_to 'Show', @insert_psresponse %> |
<%= link_to 'Back', insert_psresponses_path %>





<footer>
  <footer style="background: #808080;">
  <h3 style="color: white" align="right" >2015 Gannett </h3>
</footer>
