// Place all the styles related to the insert_psresponses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr.vertical
{
  width: 5px;
  background-color: silver;
  height: 100%;
  float: left;
  border: 2px ridge silver ;
  border-radius: 2px;
} 
