<p id="notice"><%= notice %></p>

<p>
  <strong>Methodname:</strong>
  <%= @insert_printmethod.methodname %>
</p>

<%= link_to 'Edit', edit_insert_printmethod_path(@insert_printmethod) %> |
<%= link_to 'Back', insert_printmethods_path %>
